html,body {
	display: block;
	height: 100%;
	width: 100%;
}
.layout {
	height: 100%;
	background: url(../img/wel.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	animation: "trans" 20s linear 2s infinite ;
	-webkit-animation: "trans" 20s linear 2s infinite ;
}
h1 {
	text-align: center;
	color: #5A98D8;
	font-size: 80px;
	margin-top: 20%;
}
@keyframes trans{
	0%{
		background: url(../img/wel.jpg) no-repeat;
		background-size: cover;
	}
	33%{
		background: url(../img/wel2.jpg) no-repeat;
		background-size: cover;
	}
	66%{
		background: url(../img/wel3.jpg) no-repeat;
		background-size: cover;
	}
	100%{
		background: url(../img/wel.jpg) no-repeat;
		background-size: cover;
	}
}
