.personal {
	min-height: 74%;
	box-sizing: border-box;
	padding-top: 20px;
}
.personal .batch{
	margin-bottom: 20px;
}
.personal .batch .team{
	font-size: 20px;
	font-weight: 700;
}
.personal .batch>.auditer{
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 82px;
	border: none;
	border-radius: 3px;
	background-color: #3399FF;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 20px;
}
.personal table{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.personal table td {
	height: 30px;
}
.personal table td div {
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 82px;
	border: none;
	border-radius: 3px;
	background-color: #3399FF;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin-right: 8px;
}
.filedetail {
	width: 750px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -400px;
	display: none;
	z-index: 7;
}
.filedetail table{
	width: 100%;
	background-color: #D9D9D9;
}
.filedetail tr {
	height: 30px;
}
.filedetail th.thcenter {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #555555;
}
.filedetail th {
	width: 16%;
	text-align: right;
	box-sizing: border-box;
	background-color: #F6F6F6;
	font-weight: 300;
}
.filedetail td {
	width: 18%;
	text-align: left;
	box-sizing: border-box;
	background-color: #FFFFFF;
}
.filedetail .X{
	position: absolute;
	right: 10px;
	top: 5px;
	color: darkred;
	cursor: pointer;
	font-weight: 900;
}
.cursor {
	cursor: pointer;
}
.groud {
	background-color: #D9D9D9;
}
.groud td{
	background-color: white;
	padding: 0 1px;
}
.personal .groud td div{
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 82px;
	border: none;
	border-radius: 3px;
	background-color: #3399FF;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin: 0 auto;
}
.personal .alter {
	box-sizing: border-box;
	background-color: #E7F1F9;
	width: 1000px;
	padding: 30px;
	border-radius: 20px;
	position: fixed;
	left: 50%;
	margin-left: -500px;
	top: 35%;
	display: none;
}
.personal .alter input,.personal .alter select{
	width: 130px;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid grey;
}
.personal .alter td{
	text-align: left;
	height: 35px;
}
.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	z-index: 5;
	display: none;
}
.personal .search{
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 10px;
}
.personal .condition {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C0C0C0;
}
.personal .condition td{
	padding: 0 10px;
}
.personal .chartbox{
	display: none;
}
.personal .chart{
	background-color: #D9D9D9;
}
.personal .chart td,.personal .chart th{
	background-color: white;
}
.personal .chart th{
	font-size: 20px;
	height: 35px;
}
.personal .chart td div{
	margin: 0 auto;
}
.personal .closed{
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 82px;
	border: none;
	border-radius: 3px;
	background-color: #3399FF;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin: 0 auto;
}
