.personal {
	min-height: 74%;
}
.personal .entermenber {
	width: 700px;
	margin: 20px;
	float: left;
	border: 1px solid #D9D9D9;
	padding: 20px;
}
.personal .entermenber caption{
	text-align: left;
	padding-left: 20px;
	font:600 18px sans-serif;
	height: 40px;
}
.personal .entermenber td{
	background-color: white;
	height: 30px;
}
.personal .entermenber th {
	background-color: white;
	text-align: left;
	font-weight: normal;
	width: 150px;
}
.personal .credit {
	float: left;
	border: 1px solid #D9D9D9;
	width: 250px;
	text-align: center;
	margin-top: 20px;
	margin-left: 60px;
}
.personal .credit>img {
	margin-top: 30px;
}
.personal .creditname{
	height: 30px;
	line-height: 30px;
}
.personal .creditname>span{
	display: inline-block;
	width:60px;
	height: 1px;
	background-color: #D9D9D9;
}
.personal .creditname .creditrecord{
	width: auto;
	height: auto;
	background-color: white;
	vertical-align: middle;
}
.personal .records>div{
	float: left;
	margin-right: 18px;
}
.personal .records{
	margin-left: 20px;
}
.personal .permit{
	border-bottom: 1px solid #333;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	padding-right: 30px;
	margin-left: 20px;
	font-weight: bold;
}
.column {
	margin: 10px 30px;
	padding: 10px 0;
}

.column .ntitle {
	font-size: 18px;
	color: #333333;
}
.column table {
	font-size: 16px;
	width: 98%;
	text-align: center;
	margin: 16px 0;
}

.column table th {
	background-color: #4488FF;
	color: white;
	padding: 10px 5px;
}

.column table td {
	padding: 10px 5px;
}

.column p a {
	padding-left: 20px;
}
.pastpro div{
	margin-bottom: 20px;
}
.pastpro div span{
	margin-right: 60px;
}
.pic img{
	width: 200px;
	height: 150px;
	margin-right: 20px;
}
.fcolor {
	color: #4488FF;
}