.personal {
	min-height: 84%;
	box-sizing: border-box;
}
.title>.content>span{
	display: inline;
	margin-right: 10px;
}
.title>.content>span img{
	vertical-align: middle;
}
.personal .autstate {
	width: 100%;
	border-bottom: 1px solid #C0C0C0;
	font:bold 18px sans-serif;
	margin-bottom: 15px;
}
.personal .autstate ul{
	margin: 0;
	padding: 0;
}
.personal .autstate li{
	float: left;
	padding: 0 9px;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
}
.personal .autstate li a{
	color: #003366;
}
.personal .autstate li:hover {
	border-bottom: 3px solid #27AE61;
}
.personal .autstate li:hover a{
	color: #58D68D;
}
.personal table {
	width: 850px;
	margin: 0 auto;
	background-color: #999999;
}
.personal table td{
	background-color: white;
	text-align: center;
	height: 50px;
}
.personal table th{
	width: 400px;
	background-color: white;
}
#container{
	width: 95%;
	margin: 0 auto;
	height: 350px;
}